footer.page-footer
  section
    .columns
      .column-1
        ul
          li 下载Nice in app
          li 关注微信公众号
          li 关注尺码助手
        .qrc-wrapper
          img(src=config.imgDir + '/qrc-bg.png')
          
      .column-2
        ul
          li 产品服务
          li 品牌介绍
          li 关于我们
        ul
          li 线上产品
          li 自有品牌
          li 公司简介
        ul
          li 我们的服务
          li 产品展示
          li 发展历程
        ul
          li 线下门店
          li 代理品牌
          li 团队介绍
        ul
          li 
          li 
          li 联系我们
      .column-3
        p 深圳市蜜豆生物科技有限公司
        p 公司地址：深圳市南山区华富洋大厦
        p 联系我们：0755-26530336
        p 商务合作：bd@niceinapp.com
    .partners
      p 合作伙伴
      div 
        img(src=config.imgDir + '/partner-1.png')
        div 京东
      div 
        img(src=config.imgDir + '/partner-2.png')
        div 天涯社区
      div 
        img(src=config.imgDir + '/partner-3.png')
        div 护你妹
      div 
        img(src=config.imgDir + '/partner-4.png')
        div 想你
      div 
        img(src=config.imgDir + '/partner-5.png')
        div 
      div 
        img(src=config.imgDir + '/partner-6.png')
        div 
    .copy-right © 2016 深圳市蜜豆生物高科技有限公司, All Rights Reserved 粤ICP备14089857号-2
      
      
